body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
}

header {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 20px;
    border-radius: 16px;
}

div.task-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
    margin-bottom: 4px;
}

ul {
    list-style: none;
    padding: 8px;
    margin: 4px;
}

input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    
}

input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

input:hover {
    border-color: #4CAF50;
}

.icon-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.icon-btn:hover {
    background-color: #45a049;
}

.deleteButton {
    background-color: #4caf4f00;
    color: rgb(0, 0, 0);
    justify-content: end;
    border: none;
    margin: 4px;
    padding-left: 10%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.completeButton {
    background-color: #4caf4f00;
    color: rgb(0, 0, 0);
    justify-content: start;
    border: none;
    margin: 4px;
    cursor: pointer;
}

.deleteButton:hover, .completeButton:hover {
    color: rgb(128, 128, 128);
}

.completed {
    text-decoration: line-through;
    color: gray;
}

li {
    display: flex;
}

.task {
  opacity: 0;
  transform: translateY(-10px);
  animation: aparecer 0.3s ease forwards;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out {
    opacity: 1;
    transform: translateX(0);
    animation: desaparecer 0.3s ease forwards;
}

@keyframes desaparecer {
    to {
        opacity: 0;
        transform: translateX(-10px);
    }
}